<p-button class="button-container"
          icon="pi pi-plus"
          [rounded]="true"
          size="large"
          severity="secondary"
          (onClick)="onOpenDialog()">
</p-button>

<p-dialog header="Neuer Eintrag"
          styleClass="p-fluid"
          [modal]="true"
          [(visible)]="visible"
          [style]="{ width: '50vw' }"
          [closable]="false">
  <ng-template pTemplate="content">
    <div>
      <!--Type-->
      <div class="dialog-container">
        <label class="dialog-label">Typ</label>
        <p-dropdown [options]="types" [(ngModel)]="type" optionLabel="name" [showClear]="true"
                    placeholder="Wähle einen Typ">
        </p-dropdown>
      </div>

      <!--Description-->
      <div class="dialog-container">
        <label class="dialog-label">Bezeichnung</label>
        <input pInputText type="text" maxlength="50" required [(ngModel)]="entry.description"/>
      </div>

      <!--Category-->
      <div class="dialog-container">
        <label class="dialog-label">Kategorie</label>
        <p-dropdown [options]="categories" [(ngModel)]="entry.category" optionLabel="name" [showClear]="true"
                    placeholder="Wähle eine Kategorie">
        </p-dropdown>
      </div>

      <!--Amount-->
      <div class="dialog-container">
        <label class="dialog-label">Summe (in Euro)</label>
        <p-inputNumber [(ngModel)]="entry.amount" mode="decimal" [minFractionDigits]="2"
                       [maxFractionDigits]="5"></p-inputNumber>
      </div>

      <!-- Date planned -->
      <div class="dialog-container">
        <label class="dialog-label">Geplanter Zeitpunkt</label>
        <p-calendar [(ngModel)]="entry.datePlanned"
                    dateFormat="dd/mm/yy" [showOnFocus]="true"/>
      </div>
    </div>

    <!-- Save and Cancel Buttons -->
    <div class="dialog-buttons-container">
      <p-button label="Speichern" icon="pi pi-save" iconPos="right"
                styleClass="p-button-sm" (onClick)="onSave()">
        <!--[disabled]=""-->
      </p-button>
      <p-button label="Abbrechen" icon="" iconPos="right" styleClass="p-button-sm" (onClick)="onCancel()"></p-button>
    </div>
  </ng-template>
</p-dialog>
