<p-dialog header="{{title}}"
          styleClass="p-fluid"
          [modal]="true"
          [(visible)]="isVisible"
          [style]="{ width: '50vw' }"
          [closable]="false">
  <ng-template pTemplate="content">
    <div>
      <!--Type-->
      <div class="dialog-container">
        <label class="dialog-label">{{ 'labels.type' | translate }}</label>
        <p-dropdown [options]="types" [(ngModel)]="type" optionLabel="name" optionValue="value" [showClear]="true"
                    placeholder="Wähle einen Typ">
        </p-dropdown>
      </div>

      <!--Description-->
      <div class="dialog-container">
        <label class="dialog-label">{{ 'labels.description' | translate }}</label>
        <input pInputText type="text" maxlength="50" required [(ngModel)]="entry.description"/>
      </div>

      <!--Category-->
      <div class="dialog-container">
        <label class="dialog-label">{{ 'labels.category' | translate }}</label>
        <p-dropdown *ngIf="type == Constants.INCOME" [options]="translatedIncomeCategories"
                    [(ngModel)]="entry.category"
                    optionLabel="name" optionValue="value"
                    [showClear]="true"></p-dropdown>
        <p-dropdown *ngIf="type == Constants.EXPENSE" [options]="translatedExpenseCategories"
                    [(ngModel)]="entry.category"
                    optionLabel="name" optionValue="value"
                    [showClear]="true"></p-dropdown>
        <p-dropdown *ngIf="type == '' || type == null" [loading]="true"
                    placeholder="Wähle zuerst einen Typ"></p-dropdown>
      </div>

      <!--Amount-->
      <div class="dialog-container">
        <label class="dialog-label">{{ 'labels.amount' | translate }}</label>
        <p-inputNumber [(ngModel)]="entry.amount" mode="decimal" [minFractionDigits]="2"
                       [maxFractionDigits]="5"></p-inputNumber>
      </div>

      <!-- Date planned -->
      <div class="dialog-container">
        <label class="dialog-label">{{ 'labels.datePlanned' | translate }}</label>
        <p-calendar [(ngModel)]="entry.datePlanned"
                    dateFormat="dd/mm/yy" [showOnFocus]="true"/>
      </div>
    </div>

    <!-- Save and Cancel Buttons -->
    <div class="dialog-buttons-container">
      <p-button label="{{'buttons.save' | translate}}" icon="pi pi-save" iconPos="right"
                styleClass="p-button-sm" (onClick)="onSave()">
        <!-- TODO
        [disabled]="!validation.isTypeChosen || !validation.isDesValid || !validation.isCategoryChosen || !validation.isAmountValid || !validation.isDateValid"
        -->

      </p-button>
      <p-button label="{{'buttons.cancel'|translate}}" icon="" iconPos="right" styleClass="p-button-sm"
                (onClick)="onCancel()"></p-button>
    </div>
  </ng-template>
</p-dialog>
