<div class="outerContainer">
  <div class="innerContainer">
    <p-button label="{{'labels.income' | translate}}" [text]="true" severity="success"></p-button>
    <p>{{ total_income + '€' }}</p>
  </div>
  <div class="innerContainer">
    <p-button label="{{'labels.expense' | translate}}" [text]="true" severity="danger"></p-button>
    <p>{{ total_expense + '€' }}</p>
  </div>
  <div class="innerContainer">
    <p-button label="{{'labels.total' | translate}}" [text]="true" severity="secondary"></p-button>
    <p>{{ total + '€' }}</p>
  </div>
</div>
