<p-table [value]="incomes_and_expenses">
  <ng-template pTemplate="header">
    <tr>
      <th>{{ 'LABELS.DATE' | translate }}</th>
      <th>{{ 'LABELS.CATEGORY' | translate }}</th>
      <th>{{ 'LABELS.DESCRIPTION' | translate }}</th>
      <th>{{ 'LABELS.AMOUNT' | translate }}</th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-entry>
    <tr>
      <td>{{ formatDate(entry.datePlanned) }}</td>
      <td>{{ entry.category }}</td>
      <td>{{ entry.description }}</td>
      <td
        [ngStyle]="{'color': entry.type == EXPENSE ? 'var(--expense-label)' : 'var(--income-label)', 'font-weight': 'bold'}">
        {{ entry.amount }}
      </td>
      <td>
        <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" severity="secondary"
          (onClick)="onUpdate(entry)"></p-button>
      </td>
      <td>
        <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="secondary"
          (onClick)="onDelete(entry)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>