<p-table [value]="incomes_and_expenses">
  <ng-template pTemplate="header">
    <tr>
      <th>{{ 'labels.date' | translate }}</th>
      <th>{{ 'labels.category' | translate }}</th>
      <th>{{ 'labels.description' | translate }}</th>
      <th>{{ 'labels.amount' | translate }}</th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-entry>
    <tr>
      <td>{{ formatDate(entry.datePlanned) }}</td>
      <td>{{ Constants.CATEGORIES_KEY + entry.category.toLowerCase() | translate }}</td>
      <td>{{ entry.description }}</td>
      <td
        [ngStyle]="{'color': entry.type == Constants.EXPENSE ? 'var(--expense-label)' : 'var(--income-label)', 'font-weight': 'bold'}">{{ entry.amount }}
      </td>
      <td>
        <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" severity="secondary"></p-button>
      </td>
      <td>
        <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="secondary"
                  (onClick)="onDelete(entry)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
