<div class="container">
  <app-toolbar (dateChanged)="onDateChanged($event)"></app-toolbar>
</div>

<div class="container">
  <app-overview (showIncomes)="showIncomes($event)" [incomes]="income" (showExpenses)="showExpenses($event)" [expenses]="expense" (showEntries)="showEntries($event)"
                [total_income]="total_income" [total_expense]="total_expense"
                [total]="total"></app-overview>
</div>

<div class="container">
  <app-revenue-list [showOnlyIncomes]="showOnlyIncomes" [showOnlyExpenses]="showOnlyExpenses" [showAllEntries]="showAllEntries" [currentDate]="selectedDateAsDate" [income]="income"
                    [expense]="expense"></app-revenue-list>
</div>

<div class="button-container">
  <app-create-entry-button [currentDate]="selectedDateAsDate"></app-create-entry-button>
</div>