::ng-deep .p-button.p-button-text, .p-button.p-button-text:active {
  background: none;
  box-shadow: none;
  padding-bottom: 0;
}

.container {
  margin: 20px 20px 20px 20px; /* top, right, bottom, left */
}

.button-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
